<%= render 'slider' %>
<%= render 'main/posts' %>
<section class="aboutSec">
  <div class="mainWrapper">
    <div class="aboutInfo editable">
      <h3>О проекте</h3>
      <img src="<%= asset_path('simb/bone.png') %>" />
      <%= render @main_bottom %>
    </div>
  </div>
</section>
