<section>
  <div class="mainWrapper">
    <h1 class="text-center">#<%= @tag.name %></h1>
  </div>
</section>

<section class="bricksSec">
  <div class="mainWrapper">
    <div class="bricksWrap tagsPage">
     <%= render 'main/posts' %>
    </div>
  </div>
</section>