
<div class="mainWrapper">
<h1>New Post</h1>



<%= render 'form', post: @post %>
<br/><br/>

<%= link_to 'Все категории', categories_path %><br/>
<%= link_to 'Добавить категорию', new_category_path %>
<br/><br/>

<%= link_to 'Все посты', posts_path %>
</div>