<div id="subscribeModal" class="modal fade subscriptionModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <img class="logo" src="<%= asset_path('modals/bonLogo.png') %>" />
        <div class="closeCustom">
          <img  data-dismiss="modal" src="<%= asset_path('modals/close.png') %>"/>
        </div>
        
      </div>
      <div class="modal-body">
        <h2>Поздравляем! Вы подписались на новые обзоры!</h2>
      </div>
    </div>

  </div>
</div>