
@font-face {
  font-family:peaceSans;
  src: asset-url("peaceSans/peace_sans.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family:mirBd;
  src: asset-url("mir/Mir-Bold.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family:mir;
  src: asset-url("mir/Mir.otf");
  font-style: normal;
  font-weight: normal;
}

p,h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
}
button,
a:hover,
a:focus,
input,
input:focus,
textarea:focus,
select:focus,
button:visited {
  text-decoration: none;
  outline: none;
}
a {
	text-decoration: none;
	&:focus {
		outline:none;
	}
	&:hover,&:focus {
		text-decoration: none;
	}
}
.slick-slide  {
	&:focus {
		outline:none;
	}
}
$red:rgb(255, 0, 0);
$redFon:#e02128;
$black:rgb(1, 1, 1);
$black07:rgb(51, 51, 51);
$blue:rgb(0, 150, 255);
$gray:#f3f3f3;
$mirBd:mirBd;
$mir:mir;
$peaceSans:peaceSans;

body {
	font-family:$mir;
}

.redBtn {
	background-color: $red;
	color:#fff;
	padding:15px 20px;
	border:2px solid transparent;
	border-radius:50px;
	text-decoration: none;
	text-transform: uppercase;
	font-family:$peaceSans;
	font-size:12px;
	letter-spacing:1px;
	transition:background-color .4s,color .4s,border .4s;
	cursor: pointer;
	&:hover,&:focus {
		color:#fff;
	}
	&.readMore {
		&:hover {
			border:2px solid $red;
			color:#000;
			background-color:transparent;
		}
	}
}

ul {
	margin:0;
	padding:0;
	li {
		list-style-type: none;
	}
}


.mainWrapper {
	width:100%;
	max-width:1150px;
	margin: auto;
}

.horizontalMenu {
	display: flex;
	margin: 2rem auto;
	& .burger i {
		font-size: 3.2rem;
		color: #CCCCCC;
		&:hover {
			color: #C7C7C7;
		}
	}
	.linksWrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.linksBlock {
		display: flex;
		justify-content: space-around;
		width: 70%;
		max-width: 700px;
		font-size: 1.8rem;
		a {
			color: #2D2D2D;
			text-decoration: underline;
		}
		a:hover{
			color:#000;
		}
	}
}

.postTags {
  width: 100%;
  max-width:850px;
  margin:30px 0 30px auto;
  display: flex;
  li {
  	font-size:18px;
  	font-family:$mirBd;
  	color:$blue;
  }
  li:not(:last-child) {
  	margin-right:20px;
  }
}

.inputRound {
	display: block;
	border:2px solid $red;
	border-radius:50px;
	padding:8px 12px;
	text-align: center;
	color:#000;
	&:-webkit-autofill {
		-webkit-box-shadow: inset 0 0 0 50px #fff !important;
		-webkit-text-fill-color: #000 !important;
		color: #000 !important;
	}
}
.enterBtn {
	display: block;
	border:2px solid $red;
	color:#fff;
	background-color: $red;
	font-size:18px;
	width:100%;
	border-radius:50px;
	padding:5px 12px;
	text-align: center;
	transition:color .4s,background-color .4s;
	&:hover {
		background-color: transparent;
		color:#000;
	}
	&.fixedBtn{
		width:200px;
		margin-left: 30px;
	}
}
.mobHeader {
	display: none;
}
.adminWrap {
	background-color:$red;
	padding:5px 0;

}
.adminNav {
	display: none;
}
@media (min-width: 768px) {
	.adminNav {
		display: flex;
		justify-content: flex-end;
		a {
			color: #fff;
			&:hover,&:focus {
				color: #fff;
			}
		}
		li:not(:last-child) {
			margin-right:20px;
		}
	}
}

.allPosts {
	h1 {
		margin:50px 0 20px;
	}
}
header {
	padding:10px 0;
	box-shadow: 0px 3px 5px -1px rgba(171,171,171,0.56);
	background-image:asset-url("header/bg.png");
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	.headerContent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width:100%;
		.imagesWrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-width: 415px;
			img {
				max-width:124px;
				max-height:140px;
			}
		}
		.logoWrap {
			img {
				margin:30px 0 0;
			}
		}
	}
}

footer {
	padding:50px 0;
	.contentWrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.socialWrap {
			display: flex;
			justify-content: space-between;
			width:370px;
			.shape {
				p {
					text-align: center;
					margin-bottom:10px;
				}
			}
			ul {
				display: flex;
				li {
					&:not(:first-child):not(:last-child) {
						padding:0 10px;
					}
				}
			}
	}

	.navWrap {
		display: flex;
		li {
			&:not(:first-child):not(:last-child) {
				padding:0 20px;
			}
			a {
				color: #000;
				transition:color .4s;
				&:hover {
					color:$red;
				}
			}
		}
	}
	.logosWrap {
		display: flex;
		align-items: center;
		.logo {
			max-width:120px;
			margin:0 50px 0 0;
			height: auto;
			display: block;
		}
	}
}

////////////////////  MAIN PAGE   ////////////////////
////////////////////  MAIN PAGE   ////////////////////
////////////////////  MAIN PAGE   ////////////////////

.eventCarouselSec {
	margin:50px 0;
	.eventCarousel {
		.slideWrapper {
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			.imgSide {
				width:60%;
				min-height:400px;
				background-color:#f3f3f3;
				background-size: cover;
				background-position:center;
			}
			.contentSide {
				width:40%;
				padding:0 40px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-around;
			}
			.aboutEvent {
				li {
					// font-family:$mir;
					font-size:18px;
					&:not(:last-child) {
						margin-bottom:10px;
						a {
							color: #000;
						}
					}
					&:nth-child(1) {
						font-family:$peaceSans;
						text-transform: uppercase;
						a {
							color:$red;
						}
					}
					&:nth-child(2) {
						quotes: "\00ab" "\00bb";
						font-family:$mirBd;
						font-size: 26px;
					}


				}
				.hash {
					li {
						font-size:18px;
						font-family:$mir;
						text-transform: lowercase;
						a {
							color:$blue;
						}
					}
				}

			}
		}
	}
}


.bricksSec {
	width:100%;
	.bricksWrap {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
		.brick {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			a {
				width:100%;
				text-decoration: none;
				color:$black07;
				cursor: pointer;
			}
			min-width: 310px;
			width:49%;
			border-radius:10px;
			margin-bottom:25px;
			box-shadow: 0px 3px 5px -1px rgba(171,171,171,0.56);
			.imgParth {
				box-shadow: inset 1px 1px 50px rgba(0,0,0,.05);
				width:100%;
				height:300px;
				background-color:#f3f3f3;
				background-size: cover;
				background-position:center;
				border-radius:10px 10px 0 0;
				background-image: linear-gradient(#8b9da9, #fff6e4);
    			box-shadow: inset 0 0 100px hsla(0,0%,0%,.3)
			}
			
		}
	}

}

//////////////////////////// COMPONENT

.aboutParth {
	padding:20px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%; 
	.whatIsIt {
		color:$black07;
		text-transform: uppercase;
		font-family:$peaceSans;
		font-size:16px;
		a {
			color:$black07;
			&:hover, &:focus{
				color:$black07;
			}
		}
	}
	.vote {
		margin-top:10px;
		font-size:74px;
		font-family:$peaceSans;
		color:$red;
		line-height:65px;
		display: flex;
		align-items: flex-start;
	}
	li {
		&:nth-child(1) {
			display: flex;
			justify-content: space-between;
			margin-bottom:15px;
			.left {
				max-width:400px;
			}
			h3 {
				font-family:$mirBd;
				font-size:25px;
				quotes: "\00ab" "\00bb";
				margin: 10px 0 0;
			}

		}
		.location {
			display: flex;
			align-items: center;
			img {
				margin-right:20px;
			}
			
		}	
	}
}
// @media screen and ( -webkit-min-device-pixel-ratio : 0 )	 { 
//   .aboutParth { 
//     height:auto;
//   } 
// }

// COMPONENT \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.aboutSec {
	.aboutInfo {
		// font-family:$mir;
		padding:50px 0;
		text-align: center;
		h3 {
			font-family:$peaceSans;
			margin-bottom:20px;
		}
		p {
			max-width:450px;
			margin:20px auto 0;
		}
	}
}
.postCarouselSec {
	.postCarousel {
		.slick-prev,
		.slick-next {
			background-color: #fff;
			border-radius:50%;
			width:50px;
			height:50px;
			z-index: 2;
			background-position:center;
			background-repeat: no-repeat;
			border-radius:50%;
			&:before {
				display: none;
			}

		}
		.slick-prev {
			left:20px;
			background-image:asset-url("simb/prev.png");
		}
		.slick-next {
			right: 20px;
			background-image:asset-url("simb/next.png");
		}
		.slick-dots{
			top: 20px;
		    right: 20px;
		    bottom: auto;
		    width: auto;
			li {
				button {
					&:before,&:after {
						font-size: 40px;
						color:#fff;
						border-radius: 50%;
						background-color: #fff;
					}
				}
				&.active {
					button {
						&:before,&:after {
							color:#fff;
						}
					}
				}
			}
		}
	}
}



////////////////////  ABOUT PAGE   ////////////////////
////////////////////  ABOUT PAGE   ////////////////////
////////////////////  ABOUT PAGE   ////////////////////

.helloAbout {
	background-color: $gray;
	margin: 0 0 100px;
	padding:50px 0 0;
	
}
.hiWrapper {
	display: flex;
	align-items: flex-start;
	.BonImgWrapp {
		margin:40px 0 0 auto;
		max-width:400px;
		max-height:0;
		position: relative;
		z-index:2;
	}
	.wrapContent {
		margin:0 auto 0 0;
		position: relative;
		
		.textWrap {
			position: relative;
			.overlay {
				position: absolute;
				z-index:0;
				border-radius:30px;
				background-color: #fff;
				top:0;
				bottom:0;
				left:0;
				right:0;
				margin: auto;
				width:100%;
			}
			.content {
				position: relative;
				z-index:1;
				padding: 40px 50px 50px;
				
				font-size:28px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				max-width:540px;
				position: relative;
				z-index:3;
				& > * {
					margin-top:10px;
				}
			}
			&:before {
				content:"";
				position: absolute;
				width:74px;
				height:34px;
				bottom:-34px;
				left:20px;
				background-image:asset-url("about/hvost.png");
			}
			
		}
		.hash {
			font-size:22px;
		}
		.social {
			padding: 40px 50px 50px;
			position: relative;
			z-index:3;
			flex-direction: row;
			align-items: flex-end;
			.redBtn {
				font-family:$mirBd;
				margin:0 30px;
			}
		}
	}

}

.hash {
	color:$blue;
	display: flex;
	flex-wrap: wrap;
	font-family:$mirBd;
	a,a:hover {
		color:$blue;
		text-decoration: none;
	}
	li:not(:last-child) {
		margin-right:20px;
	}
}
.social {
	display: flex;
	flex-direction: column;
	a {
		display: block;
		line-height:0;
	}
	ul {
		display: flex;
		margin:10px 0 0;
		li:not(:last-child) {
			margin-right:10px;
		}

	}
}

.categoryWrap {
	margin:200px 0 70px;
	li.cat {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items:center;
		font-family:$mirBd;
		font-size:20px;

		article {
			font-family:$peaceSans;
			font-size:24px;
		}
		span {
			margin:20px 0;
			display: block;
		}

		.sideText {
			max-width:470px;
			padding:0 30px;
			a {
				color: #000;
			}
		}
		.sideImg {
			padding:0 30px;
			img {
				max-width:100%;
			}
		}
		&:nth-child(2n) {
			flex-direction: row-reverse;
		}
		&:not(:last-child) {
			margin-bottom:50px;
		}
	}
	
}



.postCarousel {
	.item {
		width:100%;
		height:60vh;
		min-height:350px;
		background-size: cover;
		background-position:center;
		box-shadow: inset 0px 0px 100px hsla(0,0%,0%,.2);
	}
}

.postInfo {
	display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
    	margin-bottom:30px;
    }
	.info {
		max-width:620px;
		width:100%;
		margin:-100px 0 0 0;
		background-color: #fff;
		border-radius:20px;
		position: relative;
		padding:50px;
		box-shadow: 2px 5px 20px 0px rgba(126,129,140,1);
	}
    .post_section {
    	width:100%;
    	max-width:850px;
    	margin: auto;
        .aboutParth {
        	width:100%;
        	padding:0;
        	flex-direction: row-reverse;
        	justify-content: space-between;
        	li {
        		&:nth-child(1) {
        			flex-direction: column;
					max-width:50em;
					width: 100%;
					h3 {
						margin-bottom:10px;
					}
					p {
						font-size:18px;
						margin:10px 0;
						strong {
							font-family:$mirBd;
						}
					}
					img {
						max-width: 100%;
    					height: auto !important;
    					display: block;
					}
        		}
        	}
        }
    }

    .edit_post_section {
       margin: auto;
    }
}
.editPostForm {
	max-width:620px;
	width:100%;
	.aboutParth {
		li {
			display: flex;
			flex-wrap: wrap;
			margin: auto;
			max-width:100%;
			.full {
				&:not(:last-child){
					margin-bottom:30px;
				}
				.form-group {
					margin-bottom:0;
				}
				p {
					color:$red;
				}
				width:100%;
				input {
					width:100%;
				}
			}
			.multi {
				width:100%;
				display: flex;
				justify-content: space-between;
				
				div.uu {
					align-self:stretch;
					input {
						min-width:auto;
					}
				}
			}
			input {
				min-width:220px;
			}

		}
	}
}

.new_post_section {
  width:100%;
  margin: auto;
  max-width:800px;
  padding:50px;
}
.linksWrap {
	display: flex;
	.btnLinks {
		margin:0 20px 0 0;
		padding:10px 0;
		color:$red;
		transition:color .4s;
		display: block;
	}
}

.redCatInfo {
	background-color:$redFon;
	
	
	margin-bottom:100px;
	.redWrap {
		display: flex;
		height:400px;
		justify-content: space-between;
		padding:15px 0;
		align-items: center;
		.imgWrap {
			margin: auto;
		}
		.infoWrap {
			
			max-width:550px;
			width:100%;
			article {
				color:$black;
				font-family: $peaceSans;
				text-transform: uppercase;
				font-size:26px;
				margin-bottom:10px;
			}
			span {
				color: #fff;
				font-size:17px;
			}
		}
		
		.filter {
			display: flex;
			margin-top:30px;

			li {
				a {
					border-radius:50px;
					padding:5px 10px;
					background-color:$red;
					color:$black;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						margin-right:10px;
					}
				}
				&:first-child {
					margin-right:20px;
					a {
						background-color: $black;
						color: #fff;
					}
				}
			}
		}
	}
}

.well {
  //width: 55%;
}
.coommentsList {
	margin:20px auto 40px;
	h3 {
		margin-bottom:20px;
	}
}

.commentForm {
	margin:40px 0;
	h3 {
		margin-bottom:20px;
	}
	.line {
		display: flex;
		justify-content: space-between;
		.left {
			width:70%;
			display: flex;
			.form-group {
				width:49%;
				margin-right:20px;
			}	
		}
		
	}
	.redBtn {
		margin-top:10px;
	}
}
.commentWrap {
	display: flex;
	flex-direction: column;
	font-size:18px;
	padding:20px 50px;
	border-radius:10px;
	box-shadow: 2px 2px 2px #e2e2e2;
	&:not(:last-child) {
		margin-bottom:10px;
	}
	&:nth-child(2n) {
		background-color:#f8fffa;
	}
	&:nth-child(2n-1) {
		background-color:rgba(237,230,255,0.2);
	}
	span {
		font-size:16px;
	}
	strong {
		font-family:$mirBd;
		font-size:26px;
		color:$red;
		margin-right:20px;
	}
	.heading {
		border-bottom: 1px solid #e3e3e3;
		margin-bottom:15px;
	}
	.navFooter {
		display: flex;
		margin-top:10px;
		a {
			margin-right:20px;
			color:#777;
			transition:color .4s;
			&:hover {
				color:$red;
			}
		}
	}
}
.editSubPost {
	text-align: right;
	margin-top:20px;
}



.invitationModal {
	.modal-header {
		border-bottom: 0;
	}
	.closeCustom {
		cursor: pointer;
	}
	.modal-body {
		textarea {
			max-width: 278px;
		}
	}
}

@media (min-width: 768px) {
.invitationModal {
	.modal-dialog {
		width:400px;
		margin: 80px auto;
	}
	.modal-body {
		padding:15px 60px 40px;
		text-align: center;
	}
	.modal-header {
		position: relative;
		img.logo {
			margin: -60px auto 0;
    		display: block;
		}
		.closeCustom {
			position: absolute;
			right:-75px;
			top: 0px;
		}
	}
}
}

.prew {
	max-width:100%;
}
#previewImages {
	display: flex;
	flex-wrap: wrap;
	img {
		max-width:145px;
		height: 145px;	
		object-fit:cover;
	}
}

.authPage {
	padding:50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.enterBtn {
		margin:10px 0;
	}
	.linksBtns {
		display: flex;
		justify-content: space-around;
		max-width:280px;
		width:100%;
		transition:color .4s;
		a {
			color:#000;
			&:hover {
				color:$red;
			}
		}
	}
}
.authInputsWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.inputRound {
		margin:10px 0;
		width:100%;
		min-width:280px;
	}
	
}
.thankU {
	font-size:22px;
	text-align: center;
	padding:10px 0;
}

@media screen and (min-width:768px) {
	.authPage {
		min-height: calc(100vh - 350px);
	}
	.newPostWrapper {
		h1 {
			margin: 80px auto 0;
	    	width: 580px;
		}
	}


}
.newPostWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.err {
	display: none;
	color:$red;
	text-align: left;
}
.titleAllPost,
.listAllPost {
	display: flex;
	li {
		flex:1 1;
		padding:20px;
	}
	&.allCat {
		li {
			flex:1 1 auto;
		}
		li:nth-child(2) {
			max-width:60%;
			width:100%;
		}
	}
}
.listAllPost {
	border-radius:10px;
	transition:background-color 1s,box-shadow 1s;
	box-shadow: 2px 2px 2px #e2e2e2;
	border:1px solid transparent;
	&:not(:last-child) {
		margin-bottom:10px;
	}
	&:nth-child(2n) {
		background-color:#f8fffa;
	}
	&:nth-child(2n-1) {
		background-color:rgba(237,230,255,0.2);
	}
	&:hover {
		box-shadow: 1px 1px 3px #424242;
	}
}

.eventCarousel {
	.slick-dots {
		position: relative;
		li {
			button {
				&:before,&:after {
					font-size:32px;
				}
			}
		}
	}
}
.mediaWrap {
	display: flex;
	flex-wrap: wrap;
}
.mediaItem {

	position: relative;
	.destroy {
		background-color: #fff;
		color:$red;
		border-radius:50%;
		line-height:0;
		width:20px;
		height:20px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: absolute;
		top: 10px;
		right:10px;
	}
}
